/* ContactCard.module.css */

.card {
  width: 100%;
  position: relative;
  box-shadow: 0px 1px 3px rgba(39, 39, 39, 0.05);
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 32px;
  box-sizing: border-box;
  gap: 16px;
  text-align: left;
}

.contactTitle {
  font-weight: 700;
  font-size: 18px;
  color: #1E4D5A;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}

.contactRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contactRow img {
  width: 16px;
  height: 16px;
}
